<section class="orders-show">

=begin
- The line items in the order and:
- Their image, name and description
- Their respective quantities and line item totals
- The final amount for the order
- The email that was used
=end

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <section class="orders-show">

  <% @order.line_items.each do |line_item| %>
    <article class="card">
      <div class="card-body">
        <%= image_tag line_item.product.image_url, :class => "card-img-top", :alt => "image of plant" if line_item.product.image_url.present? %>
        <h3 class="card-title" >Name: <%= line_item.product.name %></h3>
        <p>Description: <%= line_item.product.description %></p>
        <p>Quantity: <%= line_item.quantity %></p>
        <p>Total: <%= humanized_money_with_symbol line_item.total_price_cents / 100.00 %></p>
      </div>
    </article>
  <% end %>
  
  Cart Total: <%= humanized_money_with_symbol @order.total_cents / 100.00 %><br/>
  Email: <%= @order.email %>
  
  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
